html, body {
	margin:0;
	padding:0;
	font-family: Meiryo UI;
	color: #171717;
	background-color: #FFFFFF;
}
body {
	display: flex;
	flex-direction: column;
}
.mainContent {
	flex: 1;
}
.overflowHidden {
	overflow:hidden;
}

/*
.pop {
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.7);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.7);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.7);
}
*/

header {
	background-color:#F5F5F5;
	margin:0;
	padding:0;
	top:0;
}
header input[type="button"], 
header input[type="submit"] {
	top: 0;
}
header input[type="text"] {
	top: 0;
	left: 0;
	width:85%;
}
form {
	text-align: center;
	margin: 0;
}
textarea:focus {
	outline: none !important;
	box-shadow: 0 0 2px #7B9DD3;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid #7B9DD3;
}
input:focus {
	outline: none !important;
	box-shadow: 0 0 2px #7B9DD3;
	border: 1px solid #7B9DD3;
}
header .headBtnMaxSize {
	height: 30px;
	max-height: 30px;
	width: 35px;
	max-width: 35px;
}
.stretchBtn {
	width: 100%;
}
.button {
	margin: 0px;
	color: black;
	background-color: white;
	-moz-box-shadow: inset 0px 1px 0px 0px #e7e7e7;
	-webkit-box-shadow: inset 0px 1px 0px 0px #e7e7e7;
	box-shadow: inset 0px 1px 0px 0px #e7e7e7;
	border: 1px solid #000;
	font: 16px Helvetica, Arial, sans-serif;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 700;
	padding: 4px 10px;
}
.button:hover {
	background-color: #EFEFEF;
}
.searchBtn {
	font-size: 14px;
}
.stretch {
	width: 100%;
	display:table;
	table-layout: fixed;
}
.tablinks {
	display:table-cell;
	background-color: #F5F5F5;
	border: 0;
}
.tablinks:hover {
	background-color: #E5E5E5;
}
.active {
	background-color: #FFFFFF;
	border-top: 1px solid #BCBCBC;
	border-left: 1px solid #BCBCBC;
	border-right: 1px solid #BCBCBC;
}
.active:hover {
	background-color: #FFFFFF;
}
#formsubmitbtn {
	margin-top:2px;
}
#seeMoreBtn {
	visibility: hidden;
}

#label {
	text-align: center;
	line-height: 30px;
	color: white;
}
.header {
	text-align:center;
	padding: 10px;
}
.headerTitle {
	color: #A4243B;
	font-weight:bold;
	font-size: 30px;
	font-family: 'Signika', sans-serif;
}

#googleForm {
	padding:5px;
}
.googleLogo {
	background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #4285F4), color-stop(0.2, #EA4335), color-stop(0.32, #FBBC05), color-stop(0.48, #4285F4), color-stop(0.62, #34A853),color-stop(1, #EA4335) );
	color:transparent;
	font-weight: bold;
	-webkit-background-clip: text;
	background-clip: text;
}
#googleOutput {
	margin-left:10px;
}


.weblioLogo {
	color: #EA9034;
}
.alcLogo {
}
.lingueeLogo-first {
	color: #65809B;
}
.lingueeLogo {
	color: #92A8BB;
}

.outputTables {
	border-collapse: collapse;
	border: 1px solid #BCBCBC;
}
.outputTables,
.outputTables > tbody > tr,
.outputTables > thead > tr > th,
.outputTables > thead > tr,
.outputTables > thead,
.outputTables > tbody {
	width: 100%;
	max-width: 100vw;
}
.outputTables > thead,
.outputTables > tbody {
	float: left;
	width: 100%;
}
#tabOne .outputTables > tbody > tr {
	height:100%;
}
#tabTwo .outputTables > tbody > tr {
    height:100%;
}
#tabOne .outputTables > .tbodySize {
    overflow-y: scroll;
    overflow-x: hidden;
}
#tabTwo .outputTables > .tbodySize {
    overflow-y: scroll;
    overflow-x: hidden;
}

.outputTables > tbody > tr,
.outputTables > thead > tr {
	width: 100%;
	display: table;
	text-align: left;
	table-layout: fixed;
}
.outputTables > thead > tr > th {
	text-align: center;
	padding: 5px;
}
.outputTables > thead > tr > th,
.outputTables > tbody > tr > td {
	vertical-align: top;
}
.outputTables > tbody > tr > td {
	padding: 15px;
}
.outputTables > tbody > tr > td {
	overflow: auto;
}

.tdSrc {
	color:#034078;
}
.tdDst {
	color:#000000;
}
#alcOutput .redtext {
	font-weight:bold;
}

ol {
	padding-bottom:0;
	margin-bottom:0;
	-webkit-margin-before: 0.1em;
	-webkit-margin-after: -0em;
}

.devtext {
	color: red;
	font-style:italic;
}

.about {
	padding: 8px;
}
.about ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
.about .license {
	font-size: 12px;
}

.updater {
	padding: 8px;
	overflow:hidden;
}

a {
	color:blue;
	text-decoration: none;
}

footer {
	background-color: #F5F5F5;
	padding:5px;
	text-align:center;
	bottom:0;
	margin: 0;
}
